<div class="new">
    <h3 class="title">New Post</h3>
    <div class="field">
        <%= form_for @post do |f| %>
        <%= f.label :image %><br>
        <%= f.file_field :image %><br>
        <%= f.label :"title" %><br>
        <%= f.text_field :title, :size =>  "50x10" %><br>
        <%= f.label :"number" %>
        <%= f.text_field :number, :size => "15x10"%>人
        <%= f.label :"price" %>
        <%= f.text_field :price, :size => "15x10"%>yen<br>
        <%= f.label :tag_list %><br>
        <%= text_field_tag 'post[tag_list]', @post.tag_list.join("") %>
        <br>※タグを複数つける場合は,(カンマ)で区切ってください。<br>
        <%= f.label :"about" %><br>
        <%= f.text_area :about, :size => "50x10"  %><br>
        <%= f.label :"tent" %><br>
        <%= f.text_field :tent, :size =>  "50x10" %><br>
        <%= f.label :"sleeping tool" %><br>
        <%= f.text_field :sleep, :size =>  "50x10" %><br>
        <%= f.label :"lanthanum" %><br>
        <%= f.text_field :lantan, :size =>  "50x10" %><br>
        <%= f.label :"cooking tool" %><br>
        <%= f.text_field :cook, :size =>  "50x10" %><br>
        <%= f.label :other %><br>
        <%= f.text_area :other, :size =>  "50x10" %><br>
        <%= f.label :"advice" %><br>
        <%= f.text_area :advice, :size => "50x10"  %><br><br>
        <%= f.submit "投稿" %>
        <% end %>
    </div>
</div>