<!DOCTYPE html>
<html>
  <head>
    <title>Camp List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-list">
      <h1>Camp List</h1>
        <ul>
          <li> <%= link_to "投稿一覧", posts_path %> </li>
          <li> <%= link_to "新規投稿", new_post_path %> </li>
          <% if user_signed_in? %>
            <li><%= link_to "マイページへ", user_path(current_user.id) %>　</li>
            <li> <%= link_to "log out", destroy_user_session_path, method: :delete %> </li>
          <% end %>
        </ul>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
    </footer>
  </body>
</html>
